html, body {
  height: 100%;
  margin: auto;  
  padding: 0; 
  display: flex;
  


}

canvas {
  display: block;
  margin: auto;
}

.container {
  display: flex;
  justify-content: flex-end; 
  align-items: flex-start; 
  height: 1000px; 
  padding: 20px;
}


    
    




